In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Samarai,PG,2022-02-11 22:35:18,-10.6167,150.6667,82.29,58,47,12.12
1,1,Price,US,2022-02-11 22:35:18,39.5994,-110.8107,54.66,24,0,19.57
2,2,Albany,US,2022-02-11 22:35:18,42.6001,-73.9662,48.85,51,89,9.80
3,3,Hobart,AU,2022-02-11 22:35:18,-42.8794,147.3294,62.11,61,75,8.05
4,4,Shubarkuduk,KZ,2022-02-11 22:35:19,49.1447,56.4872,27.18,97,100,8.37

In [3]:
# Get the datatypes.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                              dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Samarai,PG,2022-02-11 22:35:18,-10.6167,150.6667,82.29,58,47,12.12
5,5,Kavaratti,IN,2022-02-11 22:35:19,10.5669,72.6420,80.06,76,20,8.10
9,9,Carnarvon,AU,2022-02-11 22:35:20,-24.8667,113.6333,77.07,78,40,4.61
10,10,Atuona,PF,2022-02-11 22:35:20,-9.8000,-139.0333,77.90,76,4,12.21
11,11,San Andres,CO,2022-02-11 22:35:20,12.5847,-81.7006,84.22,65,20,13.80
13,13,Kapaa,US,2022-02-11 22:35:21,22.0752,-159.3190,81.48,63,0,5.75
17,17,Lompoc,US,2022-02-11 22:35:22,34.6391,-120.4579,86.77,30,0,10.36
21,21,Nelson Bay,AU,2022-02-11 22:35:23,-32.7167,152.1500,75.25,63,99,3.00
27,27,Bambous Virieux,MU,2022-02-11 22:35:24,-20.3428,57.7575,75.22,94,20,4.61
38,38,Vaini,TO,2022-02-11 22:35:26,-21.2000,-175.2000,86.16,84,40,8.05

In [12]:
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Samarai      PG     82.29 -10.6167  150.6667
5         Kavaratti      IN     80.06  10.5669   72.6420
9         Carnarvon      AU     77.07 -24.8667  113.6333
10           Atuona      PF     77.90  -9.8000 -139.0333
11       San Andres      CO     84.22  12.5847  -81.7006
13            Kapaa      US     81.48  22.0752 -159.3190
17           Lompoc      US     86.77  34.6391 -120.4579
21       Nelson Bay      AU     75.25 -32.7167  152.1500
27  Bambous Virieux      MU     75.22 -20.3428   57.7575
38            Vaini      TO     86.16 -21.2000 -175.2000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Samarai,PG,82.29,-10.6167,150.6667,Nuli Sapi
5,Kavaratti,IN,80.06,10.5669,72.6420,Hotels in Lakshadweep Islands
9,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
10,Atuona,PF,77.90,-9.8000,-139.0333,Villa Enata
11,San Andres,CO,84.22,12.5847,-81.7006,Hotel Arena Blanca
13,Kapaa,US,81.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Lompoc,US,86.77,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
21,Nelson Bay,AU,75.25,-32.7167,152.1500,Mantra Nelson Bay
27,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
38,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))